.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 22px;
  border-radius: var(--radius-sm);
  font-size: 15px;
  font-weight: 600;
  transition: var(--transition);
}

.btn-primary {
  background: var(--pink);
  color: var(--white);
}

.btn-primary:hover {
  transform: translateY(-2px);
  background: #e030f0;
}

.btn-ghost {
  color: white;
  border: 1px solid rgba(255,255,255,0.2);
}
