/* ================= CUSTOM PAGE ================= */
.custom-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.custom-center {
  text-align: center;
}

.custom-center h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #111827;
}

.custom-center p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  color: #374151;
}

/* Purple button override */
.custom-center .btn-add-to-cart {
  display: inline-flex;          /* KEY FIX */
  justify-content: center;
  align-items: center;
  background: #411d73;
  color: #ffffff;
  width: 160px;
  height: 45px;
  border-radius: 35px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.custom-center .btn-add-to-cart:hover {
  background: #6f63e6;
}

.head {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #6f63e6;
}
